<div class="show-field-actions" ng-if="$ctrl.hovering">
    <div class="action-buttons">
        <div class="edit-field" data-ng-click="$ctrl.openEditPanel()">
            <div class="circle-outline">
                <span class="glyphicon glyphicon-edit action-icons"></span>
            </div>
        </div>
        <div class="delete-field" data-ng-click="$ctrl.confirmRemove()">
            <div class="circle-outline">
                <span class="glyphicon glyphicon-trash action-icons"></span>
            </div>
        </div>
    </div>
</div>
