<div class="panel panel-success ">
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            Template changes saved sucessfully
        </h3>
    </div>
    <div class="panel-body">
        <div>Download Template as </div>
        <div class="col-sm-7">
            <div class="input-group row">
                <input type="text" class="form-control" ng-model="$ctrl.fileName" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">.html</span>
            </div>
        </div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-primary " ng-click="$ctrl.downloadTemplate()">Download Template</button>
        </div>
        <div class="row col-sm-12">
            <small><em>Rename the filename to avoid multiple/duplicate instance</em></small>
        </div>

    </div>
</div>