<div class="col-sm-12">
    <div id="header">
        <h1 class="logo">
            <a class="header-logo" ng-href="./" href="./"></a>
        </h1>
        <span id="light-bar"> | </span> <span id="current-app" class="ng-binding"> Designer Tool</span>
    </div>
</div>