<form name="{{$ctrl.parentCtrl.employerDetailsForm}}" confirm-on-exit="" id="employerDetailsForm">
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Information</h3>
        <!-- <div class="col-sm-6 col-xs-12"> -->
            <div class="col-sm-6 col-xs-12 form-group" ng-class="{'has-error': employerDetailsForm.name.$invalid}">
                <label for="Name" class="form-label required-label">Name</label>
                <input type="text" id="Name" class="form-control" name="name" ng-model="$ctrl.parentCtrl.employer.Name" placeholder="Enter Name" required="">
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
                <label for="Maddress1" class="form-label">Address Line 1</label>
                <input type="text" id="Maddress1" class="form-control" name="maddress1" ng-model="$ctrl.parentCtrl.employer.MailingAddressLine1" ng-disabled="$ctrl.parentCtrl.tempObj.disableMailing">
            </div>
            
        <!-- </div> -->
    </div> 
</form>