<form name="employerDetailsForm" confirm-on-exit id="employerDetailsForm">
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Information</h3>
        <div class="col-sm-6 col-xs-12">

            <div class="form-group" id="safe1">
                <safe-input id="firstName" name="firstName" io-value="$ctrl.parentCtrl.employer.EndDate" class-name="form-control" display-Text="FIRST NAME" in-show="true" in-disabled="false"></safe-input>
            </div>
            <div class="form-group" id="safe2">
                <safe-input id="lastname" name="lastname" class-name="form-control" display-Text="LAST NAME"></safe-input>
            </div>

            <div class="form-group  has-feedback" id="safe3">
                <label for="StartDate" class="form-label">Start Date</label>
                <input size="10" type="text" class="form-control" data-autoclose="1" placeholder="" ng-model="$ctrl.parentCtrl.employer.StartDate" data-date-format="MMM dd, yyyy" bs-datepicker ng-change="$ctrl.dateValidation()" autocomplete="off">
                <span class="date-icon form-control-feedback"></span>
            </div>

        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group" id="safe4">
                <label for="Status" class="form-label">Status</label>
                <div class="select-wrap">
                    <select class="form-control" id="Status" ng-model="$ctrl.parentCtrl.employer.Status" ng-options="status.Name as status.Value for status in $ctrl.StatusOptions">
                        <option value="" ng-disabled="true">Status</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="safe5">
                <label for="EmployerType" class="form-label">Employer Type</label>
                <div class="select-wrap">
                    <select class="form-control" id="EmployerType" ng-model="$ctrl.parentCtrl.employer.Type" ng-options="type.Name as type.Value for type in $ctrl.employerTypes">
                        <option value="" ng-disabled="true">Employer Type</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="safe6">
                <!-- <safe-Text>This is a sample header</safe-Text> -->
                <!-- <safe-Drop-Down class-name="form-control" display-Text="Test Dropdown"></safe-Drop-Down> -->
            </div>
        </div>
    </div>
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Contact Details</h3>
        <div class="col-xs-12">
            <div class="form-group" id="safe7">
                <safe-Quick-Table in-Put="$ctrl.dataSet.tableData1">
                    <safe-Table-Column name="name" display-Text="Name"></safe-Table-Column>
                    <safe-Table-Column name="username" display-Text="User Name"></safe-Table-Column>
                    <safe-Table-Column name="email" display-Text="EMail"></safe-Table-Column>
                    <!-- <safe-Data-Pager in-Put="$ctrl.url" io-Value="$ctrl.data" in-Per-Page="4"></safe-Data-Pager> -->
                </safe-Quick-Table>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12 ">
            <div class="form-group" id="safe8" ng-class="{'has-error': employerDetailsForm.contactName.$invalid}">
                <label for="ContactName" class="form-label required-label">Name</label>
                <input type="text" id="ContactName" class="form-control" name="contactName" ng-model="$ctrl.parentCtrl.employer.ContactName" placeholder="Enter Contact Name" required>
                <!--  <p ng-show="employerDetailsForm.contactName.$invalid && employerDetailsForm.contactName.$dirty" class="error">Employer Contact Name is required</p>-->
            </div>
            <div class="form-group" id="safe9">
                <label for="City" class="form-label">City</label>
                <input type="text" id="City" class="form-control" ng-model="$ctrl.parentCtrl.employer.ContractCity" placeholder="Enter City">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group" id="safe10">
                <label for="Website" class="form-label">Website</label>
                <input type="text" id="Website" class="form-control" ng-model="$ctrl.parentCtrl.employer.ContactWebsite" placeholder="">
            </div>
            <div class="form-group" id="safe11" input-email-directive ng-class="{'has-error': !onFocusEmail && errormsg}">
                <label for="Email" class="form-label required-label">Email</label>
                <span class="info-icon" tooltip-placement="top" uib-tooltip="Enter multiple email addresses separated by a comma"></span>
                <input type="text" id="Email" class="form-control" name="email" ng-model="$ctrl.parentCtrl.employer.Email" placeholder="" required ng-change="emailChange($ctrl.parentCtrl.employer.Email)" ng-focus="onFocusEmail='focusOn'" ng-blur="onFocusEmail=''">
            </div>
        </div>
    </div>
</form>