﻿<div class="inside">
    <div class="row">

        <div class="col-sm-12 col-xs-12 ph-last" id="location-page-margin" style="width: 80%;">

            <div class="buttons pull-right">
                <button class="btn btn-cancel header-button" ng-click="closeLocation();">
                                    
                                </button>
                <!--<a class="btn btn-default header-button" style="background-color: rgb(242, 242, 242); border: 0px solid white; border-image: none; color: rgb(91, 65, 156);" href="admin/locations" translate="admin.usergroups.Close"></a>-->
                <button error-modal-directive show-error-modal="showErrorModal" class="btn btn-default header-button" ng-click="locationDetailsForm.$valid && saveLocation()" ng-disabled="locationDetailsForm.$invalid" qs-button-submit-spin="Saving..."></button>
            </div>
            <h3 style="padding-top: 20px;">India</h3>
            <h4>
                <strong>Location</strong>
            </h4>
            <h4 class="status-icon status-icon-active status-label" ng-class="statusIcons[location.Status.toLowerCase()]"> Active </h4>
            <br />
            <br>
            <br>
            <!-- <div>TAB {{displayTab}}</div> -->

            <div ng-show="displayTab === 1" ng-form name="locationDetailsForm">
                <div class="row">
                    <div class="col-sm-12 col-xs-12  ">
                        <div class="wrap">
                            <div class="inside">
                                <div class="row">
                                    <div class="col-sm-5 col-xs-30">
                                        <h3 class="icon-circle-info" translate="admin.Locations.LocationInformation">Location Information</h3>
                                        <div class="form-group" ng-class="{'has-error': locationDetailsForm.locationName.$invalid}">
                                            <label for="Name" class="form-label required-label" translate="admin.Locations.LocationName">LOCATION NAME</label>
                                            <input type="text" id="Name" class="form-control" name="Name" ng-model="location.Name" placeholder="New Location" required>
                                            <p ng-show="locationDetailsForm.locationName.$invalid && locationDetailsForm.locationName.$dirty" class="error" translate="admin.Locations.error.NameRequired"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description" class="form-label" translate="admin.Locations.Description">DESCRIPTION</label>
                                            <textarea class="form-control" rows="7" cols="30" id="Description" ng-model="location.Description" style="resize: none;"> </textarea>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': locationDetailsForm.status.$invalid}">
                                            <label for="Status" class="form-label required-label" translate="admin.Locations.Status">STATUS</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="Status" name="Status" ng-model="location.Status" required>
                                                    <option value="" translate="admin.badging.SetStatus"></option>
                                                    <option value="Active" translate="admin.users.ActiveStatus"></option>
                                                    <option value="Inactive" translate="admin.users.InActiveStatus"></option>
                                                </select>
                                                <p ng-show="locationDetailsForm.status.$invalid && locationDetailsForm.status.$dirty" class="error" translate="admin.Locations.error.StatusRequired"></p>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': !ManagedByArray.length > 0 }">
                                            <label for="ManagedBy" class="form-label required-label" translate="admin.Locations.ManagedBy">MANAGED BY</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="ManagedBy" multiple="multiple" name="ManagedBy" ng-model="ManagedByArray" ng-options="ManagedBySystem.Name as ManagedBySystem.Value for ManagedBySystem in ManagedBySystems" required></select>
                                                <p ng-show="!ManagedByArray.length > 0 && locationDetailsForm.Managedby.$dirty" class="error" translate="admin.Locations.error.ManagedbyRequired"></p>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': !BadgeTemplateIdArray.length > 0 }">
                                            <label for="BadgeTemplateId" class="form-label required-label" translate="admin.badging.BadgeTemplate">BADGE TEMPLATE</label>
                                            <div class="select-wrap">
                                                <select class="form-control" multiple="multiple" id="BadgeTemplateId" name="BadgeTemplateId" ng-model="BadgeTemplateIdArray" ng-options="BadgeTemplate.Name as BadgeTemplate.Value for BadgeTemplate in BadgeTemplates"></select>
                                                <p ng-show="!BadgeTemplateIdArray.length > 0 && locationDetailsForm.BadgeTemplate.$dirty " class="error" translate="admin.Locations.error.BadgeTemplateRequired"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ParkingInfo" class="form-label" translate="admin.Locations.ParkingInfo">PARKING INFORMATION</label>
                                            <textarea class="form-control" rows="7" cols="30" ng-model="location.ParkingInfo" style="resize: none;"> </textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group-checkbox">
                                                <label class="checkbox-inline form-label" style="text-transform:capitalize" ng-class="{checked: location.CanAcceptShipment}" ng-click="toggleAcceptShipment($event, location, '0')" for="CanAcceptShipment">
                                                    <input type="checkbox" name="favoriteColors" ng-click="$event.preventDefault();"> Can Accept Shipment
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-5 col-xs-30 col-sm-offset-1">
                                        <h3 class="icon-map-folds" translate="admin.Locations.AddressDetails">Address Details</h3>
                                        <div class="form-group">
                                            <label for="AddressLine1" class="form-label" translate="admin.Locations.AddressLine1">ADDRESS LINE 1</label>
                                            <input type="text" id="AddressLine1" class="form-control" value="Block C" ng-model="location.AddressLine1">
                                        </div>
                                        <div class="form-group">
                                            <label for="AddressLine2" class="form-label" translate="admin.Locations.AddressLine2">ADDRESS LINE 2</label>
                                            <input type="text" id="AddressLine2" class="form-control" value="1700 North Fourth Street" ng-model="location.AddressLine2">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="Country" translate="admin.Locations.Country">COUNTRY</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="Country" ng-model="location.Country" ng-options="country.Name as country.Value for country in Countries" ng-change="countryChanged()">
                                                    <option value="" translate="admin.Locations.SelectCountry"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="State" class="form-label" translate="admin.Locations.State">STATE</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="State" ng-model="location.State" ng-options="state.Name as state.Value for state in States" ng-change="stateChanged()">
                                                    <option value="" translate="admin.Locations.SelectState"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="City" class="form-label" translate="admin.Locations.City">CITY</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="City" ng-model="location.City" ng-options="city.Name as city.Value for city in Cities" ng-change="PopulateTimeZone()">
                                                    <option value="" translate="admin.Locations.SelectCity"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-top: 3px;">
                                            <label for="Zip" class="form-label" translate="admin.Locations.Zip">ZIP</label>
                                            <input type="text" id="Zip" class="form-control" ng-model="location.Zip">
                                        </div>
                                        <div class="form-group">
                                            <label for="TimeZoneId" class="form-label" translate="admin.Locations.TimeZone">TIME ZONE</label>
                                            <div class="select-wrap">
                                                <select class="form-control" id="TimeZoneId" ng-model="location.TimeZoneId" ng-options="timezone.TimeZoneId as timezone.TimeZoneName for timezone in timezones">
                                                    <option value="" translate="admin.Locations.SelectTimeZone"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-top: 3px;" ng-class="{'has-error': locationDetailsForm.Latitude.$invalid}">
                                            <label for="Latitude" class="form-label" translate="admin.Locations.Latitude">LATITUDE</label>
                                            <input type="text" id="Latitude" name="Latitude" class="form-control" ng-model="location.Latitude" ng-pattern="/^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$/">
                                            <p ng-show="locationDetailsForm.Latitude.$error.pattern && locationDetailsForm.Latitude.$dirty" class="error" translate="admin.Locations.error.Latitude"></p>
                                        </div>

                                        <div class="form-group" style="padding-top: 3px;" ng-class="{'has-error': locationDetailsForm.Longitude.$invalid}">
                                            <label for="Longitude" class="form-label" translate="admin.Locations.Longitude">LONGITUDE</label>
                                            <input type="text" id="Longitude" name="Longitude" class="form-control" ng-model="location.Longitude" ng-pattern="/^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$/">
                                            <p ng-show="locationDetailsForm.Longitude.$error.pattern && locationDetailsForm.Longitude.$dirty" class="error" translate="admin.Locations.error.Longitude"></p>
                                        </div>
                                        <div class="form-group" style="padding-top: 3px;" ng-class="{'has-error': locationDetailsForm.Url.$invalid}">
                                            <label for="Url" class="form-label" translate="admin.Locations.LocationMapUrl">LOCATION MAP URL</label>
                                            <input type="text" id="Url" name="Url" class="form-control" ng-model="location.Url" ng-pattern="/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/">
                                            <p ng-show="locationDetailsForm.Url.$error.pattern && locationDetailsForm.Url.$dirty" class="error" translate="admin.Locations.error.Url"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="CheckinInfo" class="form-label" translate="admin.Locations.CheckinInfo">CHECKING IN INFORMATION</label>
                                            <textarea class="form-control" rows="7" cols="30" ng-model="location.CheckinInfo" id="CheckinInfo" style="resize: none;"> </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-block" ng-if="displayTab === 2">
                <safe-buildings-table buildings="location.Buildings"></safe-buildings-table>
            </div>

            <div class="admin-block" ng-if="displayTab === 3">
                <safe-floors-table></safe-floors-table>
            </div>

            <div ng-if="displayTab === 10">
                <employee-access-area-component data="accessAreaData" external-settings="accessAreaSettings" external-columns="accessAreaColumns" exclude-columns="excludeColumns"></employee-access-area-component>
            </div>

            <div ng-if="displayTab === 4">
                <safe-location-approval-table approvers="approvers" approver-levels="approverLevels"></safe-location-approval-table>
            </div>

            <div class="admin-block" ng-if="displayTab === 5">
                <safe-visitor-management-table approvers="approvers"></safe-visitor-management-table>
            </div>

            <div ng-if="displayTab === 11">
                <employer-roles-component data="badgingaData" external-settings="badgingSettings" external-columns="badgingColumns" exclude-columns="badgingExcludeColumns" is-from-location=true dataset="location.LocationApprovers"> </employer-roles-component>
            </div>

            <div ng-if="displayTab === 6">
                <safe-location-admin-table approvers="approvers" approver-levels="approverLevels"></safe-location-admin-table>
            </div>

            <div class="admin-block" ng-if="displayTab === 7">
                <safe-printer-table printers="location.Printers"></safe-printer-table>
            </div>

            <div class="admin-block" ng-if="displayTab === 8">
                <safe-visitor-access-table accessareas="accessareas"></safe-visitor-access-table>
            </div>

            <div class="admin-block" ng-if="displayTab === 9">
                <safe-document-table documents="documents"></safe-document-table>
            </div>
        </div>
    </div>
</div>