﻿<form name="employerDetailsForm" confirm-on-exit id="employerDetailsForm">
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Information</h3>
        <div class="col-sm-6 col-xs-12">

            <div class="form-group" id="safe1">
                <safe-input id="firstName" name="firstName" io-value="$ctrl.parentCtrl.employer.EndDate" class-name="form-control" display-Text="FIRST NAME" in-show="true" in-disabled="false"></safe-input>
            </div>


        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group" id="safe2">
                <label for="Status" class="form-label">Status</label>
                <div class="select-wrap">
                    <select class="form-control" id="Status" ng-model="$ctrl.parentCtrl.employer.Status" ng-options="status.Name as status.Value for status in $ctrl.StatusOptions">
                        <option value="" ng-disabled="true">Status</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Contact Details</h3>
        <div class="col-xs-12">
            <div class="form-group" id="safe3">
                <safe-Quick-Table in-Put="$ctrl.dataSet.tableData1">
                    <safe-Table-Column name="name" display-Text="Name"></safe-Table-Column>
                    <safe-Table-Column name="username" display-Text="User Name"></safe-Table-Column>
                    <safe-Table-Column name="email" display-Text="EMail"></safe-Table-Column>
                </safe-Quick-Table>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12 ">
            <div class="form-group" id="safe4" ng-class="{'has-error': employerDetailsForm.contactName.$invalid}">
                <label for="ContactName" class="form-label required-label">Name</label>
                <input type="text" id="ContactName" class="form-control" name="contactName" ng-model="$ctrl.parentCtrl.employer.ContactName" placeholder="Enter Contact Name" required>
                <!--  <p ng-show="employerDetailsForm.contactName.$invalid && employerDetailsForm.contactName.$dirty" class="error">Employer Contact Name is required</p>-->
            </div>

        </div>

    </div>
</form>