<form name="employerDetailsForm" confirm-on-exit id="employerDetailsForm">
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Information</h3>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="firstName" class="form-label required-label">First Name</label>
                <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Enter First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName" class="form-label required-label">Last Name</label>
                <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Enter Last Name" required>
            </div>
            <div class="form-group">
                <label for="EmployerName" class="form-label required-label">Employer Name</label>
                <input type="text" id="EmployerName" class="form-control" name="EmployerName" placeholder="Enter Employer Name" required>
            </div>
            <div class="form-group">
                <safe-Radio-Buttons id="buttons" in-Style="{'padding-left': '15px'}" in-Put="$ctrl.dataSet.radioGroupData1" class-name="form-control" display-Text="Visitor Type" position="Left">
                </safe-Radio-Buttons>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group">
                <label for="Status" class="form-label">Status</label>
                <div class="select-wrap">
                    <select class="form-control" id="Status" ng-model="$ctrl.parentCtrl.employer.Status" ng-options="status.Name as status.Value for status in $ctrl.StatusOptions">
                        <option value="" ng-disabled="true">Status</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="EmployerType" class="form-label">Employer Type</label>
                <div class="select-wrap">
                    <select class="form-control" id="EmployerType" ng-model="$ctrl.parentCtrl.employer.Type" ng-options="type.Name as type.Value for type in $ctrl.employerTypes">
                        <option value="" ng-disabled="true">Employer Type</option>
                    </select>
                </div>
            </div>
            <!-- <div class="form-group">
                 <safe-Text>This is a sample header</safe-Text> 
                 <safe-Drop-Down class-name="form-control" display-Text="Test Dropdown"></safe-Drop-Down> 
            </div> -->
        </div>
    </div>
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Contact Details</h3>
        <div class="col-sm-6 col-xs-12 ">
            <div class="form-group">
                <safe-input id="country" name="country" class-name="form-control" display-Text="Country" in-show="true" in-disabled="false"></safe-input>
            </div>
            <div class="form-group">
                <safe-input id="city" name="city" class-name="form-control" display-Text="City"></safe-input>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group">
                <label for="Website" class="form-label">Website</label>
                <input type="text" id="Website" class="form-control" ng-model="$ctrl.parentCtrl.employer.ContactWebsite" placeholder="">
            </div>
            <div class="form-group" input-email-directive ng-class="{'has-error': !onFocusEmail && errormsg}">
                <label for="Email" class="form-label required-label">Email</label>
                <span class="info-icon" tooltip-placement="top" uib-tooltip="Enter multiple email addresses separated by a comma"></span>
                <input type="text" id="Email" class="form-control" name="email" ng-model="$ctrl.parentCtrl.employer.Email" placeholder="" required ng-change="emailChange($ctrl.parentCtrl.employer.Email)" ng-focus="onFocusEmail='focusOn'" ng-blur="onFocusEmail=''">
            </div>
        </div>
    </div>
</form>