<div id="mainContainer" ondrop="angular.element(this).scope().$ctrl.drop(event)" ondragover="angular.element(this).scope().$ctrl.allowDrop(event)">
    <div class=" header">
        <header> </header>
    </div>
    <div class=" s-header">
        <sub-header upload-file="$ctrl.uploadFile()" reset-changes="$ctrl.resetChanges()" save-changes="$ctrl.saveChanges()" selected-file="$ctrl.selectedFile" show-main="$ctrl.showMain"> </sub-header>

    </div>
    <div class="col-sm-12 safe-main" ng-show="$ctrl.showMain">
        <main drag="$ctrl.drag()" active-tab="$ctrl.activeTab"> </main>
        <div class="edit-mask-panel" ng-if="$ctrl.showEditPanel"></div>

    </div>
    <div class="col-sm-12 download-template" ng-show="$ctrl.showDownload">
        <download-template download-template="$ctrl.downloadTemplate()" file-name="$ctrl.fileName">
        </download-template>
    </div>
</div>
<edit-field-prop ng-show="$ctrl.showEditPanel" show-edit-panel="$ctrl.showEditPanel" open-edit-panel="$ctrl.openEditPanel()" close-edit-panel="$ctrl.closeEditPanel()" edit-field="$ctrl.editField()" close-edit-field="$ctrl.closeEditField()" edit-field-type="$ctrl.editFieldType"
    update-field="$ctrl.updateField()"></edit-field-prop>