/*COLORS*/
/*--------------------------------------------------------*/
/*breadcrumb-navigation*/
/*--------------------------------------------------------*/
.access-areas-css .accessArea-left-tab {
  text-align: center;
  padding-top: 12px;
}
.access-areas-css .accessArea-left-tab ul li {
  margin-bottom: 30px;
}
.access-areas-css .accessArea-left-tab ul li a.non-active-accessArea-tab {
  color: #696969;
  text-decoration: none;
}
.access-areas-css .accessArea-left-tab ul li a.active-accessArea-tab {
  color: #225E9C;
  font-weight: bold;
  text-decoration: none;
}
.access-areas-css .accessArea-right-tab {
  padding: 0 15px 0 25px;
  border-left: 1px solid #cccccc;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-header {
  margin-bottom: 45px;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-header .accessArea-name {
  margin-top: 8px;
  font-size: 18px;
  font-family: robotomedium;
  margin-bottom: 0;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details {
  overflow-y: auto;
  overflow-x: hidden;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .general-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .access-areas-wrap {
  margin-bottom: 0;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .access-areas-wrap .access-areas-inside {
  padding-bottom: 0;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .access-areas-wrap .access-areas-inside .top-margin {
  margin-top: 20px;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .text-area-css {
  height: 7.7em;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details .text-area-css textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details input[type=checkbox] {
  display: none;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details label.checkbox-label:before,
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details label.checkbox-control-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: 16px;
  cursor: pointer;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details input[type=checkbox]:checked + label.checkbox-label:before,
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details input[type=checkbox]:checked + label.checkbox-control-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details input[type=checkbox]:disabled + label.checkbox-label:before,
.access-areas-css .accessArea-right-tab .accessArea-body .accessArea-details input[type=checkbox]:disabled + label.checkbox-control-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}
/*COLORS*/
/*--------------------------------------------------------*/
/*breadcrumb-navigation*/
/*--------------------------------------------------------*/
.employer-body .employer-details .search-form .btn {
  border: none;
}
.employer-body .employer-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.employer-body .employer-details #employerContractsTable .popover {
  right: -44%;
  width: 42%;
  margin-right: 15px !important;
  margin-left: 0 !important;
  left: auto !important;
  top: 0px !important;
  transition: right 700ms ease;
  max-width: 80%;
}
.employer-body .employer-details #employerContractsTable .popover .arrow {
  display: none;
}
.employer-body .employer-details #employerContractsTable .popover-search-btn {
  padding-top: 33px;
  border: none;
}
.employer-body .employer-details #employerContractsTable .slide-panel {
  right: 0;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-div {
  overflow-x: hidden;
  overflow-y: auto;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-header .popover-close:before {
  background-image: url("../images/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: .5em;
  position: relative;
  top: .1em;
  width: 10px;
  cursor: pointer;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-item {
  margin: 10px 5px;
  font-size: 15px;
  font-family: robotomedium;
}
.employer-body .employer-details #employerContractsTable .popover-template .search-form {
  border: 2px solid #e0dcdc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.employer-body .employer-details #employerContractsTable .popover-template .search-form .form-control {
  width: 100%;
}
.employer-body .employer-details .employer-configuration .configuration-parent {
  padding: 20px 65px 20px 35px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-first-div {
  margin-bottom: 25px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn,
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn:hover {
  border: 1px solid #ccc;
  background: none;
  text-align: left;
  color: #555 !important;
  text-transform: none;
  padding: 5px 16px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group {
  margin: 10px 0px 5px 0px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .search-form .btn {
  border: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .control-label {
  font-family: robotomedium;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  user-select: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .form-label {
  color: #555;
  font-family: robotobold;
  font-weight: normal;
  letter-spacing: 0.18px;
  font-size: 16px;
  text-transform: none;
  user-select: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox] {
  display: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .checkbox-control-label {
  margin-top: 4px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 4px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 16px;
  cursor: pointer;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-control-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-control-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div {
  border: 1px solid #555;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 12px 15px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a {
  padding: 3px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a .configuration-dropdown-checkbox label.checkbox-label {
  top: 1px;
  padding-left: 15px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a .configuration-dropdown-checkbox label {
  font-weight: normal;
  cursor: pointer;
}
.employer-body .employer-details .employer-configuration .configuration-parent .first-div {
  padding: 0px 15px;
}
#add-new-contract-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.emp_authAdmin_modal .locations-msg-label {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13.5px;
  font-family: robotomedium;
  color: #2c487c;
  font-weight: normal;
}
.emp_authAdmin_modal .blob-url-css {
  margin-top: 48px;
}
/*COLORS*/
/*--------------------------------------------------------*/
/*breadcrumb-navigation*/
/*--------------------------------------------------------*/
.personnel-body .personnel-header .profile-picture {
  height: 120px;
  margin: 0 auto 1em;
  position: relative;
  width: 100%;
}
.personnel-body .personnel-header .profile-picture .person-profile-picture {
  height: 120px;
}
.personnel-body .personnel-header .profile-picture img {
  border-radius: 50%;
  display: block;
  height: auto;
  width: 100%;
}
.personnel-body .personnel-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.personnel-body .personnel-details .personnel-wrap {
  margin-bottom: 5px;
}
.personnel-body .personnel-details .personnel-wrap .inside {
  padding: 0px 25px;
}
#add-new-card-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
#add-new-card-modal .text-area-css {
  height: 80px;
  margin-bottom: 15px;
}
#add-new-card-modal .text-area-css textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.employer-body .employer-details .search-form .btn {
  border: none;
}
.employer-body .employer-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.employer-body .employer-details #employerContractsTable .popover {
  right: -44%;
  width: 42%;
  margin-right: 15px !important;
  margin-left: 0 !important;
  left: auto !important;
  top: 0px !important;
  transition: right 700ms ease;
  max-width: 80%;
}
.employer-body .employer-details #employerContractsTable .popover .arrow {
  display: none;
}
.employer-body .employer-details #employerContractsTable .popover-search-btn {
  padding-top: 33px;
  border: none;
}
.employer-body .employer-details #employerContractsTable .slide-panel {
  right: 0;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-div {
  overflow-x: hidden;
  overflow-y: auto;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-header .popover-close:before {
  background-image: url("../images/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: .5em;
  position: relative;
  top: .1em;
  width: 10px;
  cursor: pointer;
}
.employer-body .employer-details #employerContractsTable .popover-template .list-item {
  margin: 10px 5px;
  font-size: 15px;
  font-family: robotomedium;
}
.employer-body .employer-details #employerContractsTable .popover-template .search-form {
  border: 2px solid #e0dcdc;
  border-radius: 4px;
  margin-bottom: 20px;
}
.employer-body .employer-details #employerContractsTable .popover-template .search-form .form-control {
  width: 100%;
}
.employer-body .employer-details .employer-configuration .configuration-parent {
  padding: 20px 65px 20px 35px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-first-div {
  margin-bottom: 25px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn,
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-dropdown-btn:hover {
  border: 1px solid #ccc;
  background: none;
  text-align: left;
  color: #555 !important;
  text-transform: none;
  padding: 5px 16px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group {
  margin: 10px 0px 5px 0px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .search-form .btn {
  border: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .control-label {
  font-family: robotomedium;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  user-select: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .form-label {
  color: #555;
  font-family: robotobold;
  font-weight: normal;
  letter-spacing: 0.18px;
  font-size: 16px;
  text-transform: none;
  user-select: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox] {
  display: none;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group .checkbox-control-label {
  margin-top: 4px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group label.checkbox-control-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 4px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 16px;
  cursor: pointer;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:checked + label.checkbox-control-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-label:before,
.employer-body .employer-details .employer-configuration .configuration-parent .form-group input[type=checkbox]:disabled + label.checkbox-control-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div {
  border: 1px solid #555;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 12px 15px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a {
  padding: 3px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a .configuration-dropdown-checkbox label.checkbox-label {
  top: 1px;
  padding-left: 15px;
}
.employer-body .employer-details .employer-configuration .configuration-parent .configuration-div .configuration-select-wrap .configuration-dropdown-css li a .configuration-dropdown-checkbox label {
  font-weight: normal;
  cursor: pointer;
}
.employer-body .employer-details .employer-configuration .configuration-parent .first-div {
  padding: 0px 15px;
}
#add-new-contract-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.emp_authAdmin_modal .locations-msg-label {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13.5px;
  font-family: robotomedium;
  color: #2c487c;
  font-weight: normal;
}
.emp_authAdmin_modal .blob-url-css {
  margin-top: 48px;
}
.mobile-show {
  display: none !important;
}
.employer_label {
  border: 1px;
  margin-top: 2px;
  background-color: #ff0000;
}
.employer-dropdown-checkbox {
  margin-bottom: 5px;
  margin-top: 5px;
}
.employer-dropdown-css {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  left: 15px;
  min-width: 94%;
  text-align: left;
}
.add-visitor-details {
  height: 525px;
  margin-top: 15px;
}
.dashboard-details {
  max-height: 355px;
}
.myprofile-details,
.my-visitor-details {
  max-height: 385px;
}
.visit-body-details,
.host-visit-details {
  max-height: 450px;
}
.user-details {
  max-height: 480px;
}
.shipment-details {
  max-height: 455px;
}
.task-details {
  max-height: 400px;
}
.inline-multiselect-wrap {
  width: 85%;
}
.inline-multiselect-wrap .inline-dropdown-css {
  min-width: 90%;
  font-size: 13px;
}
.inline-multiselect-wrap .inline-dropdown-css li a {
  padding: 3px 15px;
}
.inline-multiselect-wrap .inline-dropdown-checkbox label.checkbox-label {
  padding-left: 25px;
}
.inline-multiselect-wrap .inline-multiselect-search input[type="text"] {
  width: 88% !important;
}
.inline-multiselect-wrap .inline-multiselect-search .btn {
  border: none;
}
.inline-multiselect-wrap .inline-dropdown-btn {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  padding-right: 30px;
}
.td-desp-inline {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
label.checkbox-label:before {
  border: 1px solid #aaa;
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: relative;
  top: 2px;
  width: 16px;
  cursor: pointer;
}
input[type=checkbox]:checked + label.checkbox-label:before {
  cursor: pointer;
  background-color: #225e9c;
  background-image: url("../images/icons/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #225e9c;
  color: #fff;
}
input[type=checkbox]:disabled + label.checkbox-label:before {
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-color: #e0e0e0;
  content: "";
  line-height: 1.4em;
  cursor: not-allowed;
}
.ckeditor-modal .modal-dialog {
  width: 95%;
  margin: 30px auto;
}
.searchvisitormodal .modal-dialog,
.searchmultimodal .modal-dialog,
.searchmodal .modal-dialog,
.hostvisitmodal .modal-dialog {
  width: auto;
  margin: 50px;
}
.customrecmodal .modal-dialog {
  width: auto;
  margin: 50px 175px;
}
.customrecmodal .modal-body .table td.visitor-edit-icon {
  padding-top: 10px !important;
  top: 0px;
  display: table-cell;
}
.customrecmodal .modal-body .table td,
.customrecmodal .modal-body .table th {
  padding: 10px 4px;
}
.browsepos {
  padding: 25px 0px;
}
.search-header .header-name {
  width: 22%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .searchvisitormodal .modal-dialog,
  .searchmultimodal .modal-dialog,
  .customrecmodal .modal-dialog,
  .searchmodal .modal-dialog {
    width: auto;
    margin: 20px;
  }
  .user-wrap {
    margin-right: 15px;
    margin-bottom: 21px;
  }
  .user-wrap .select-wrap {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .user-wrap .select-wrap select {
    width: 100% !important;
  }
  .personnel-header h3,
  .personnel-header h4 {
    position: relative;
    left: 40px;
  }
  .search-header .header-name {
    width: 25%;
  }
}
/* Mobile Only (mobile, 767px and below)
------------------------------------------------- */
@media (max-width: 767px) {
  .search-header .header-name {
    width: 100%;
  }
  .add-visitor-details {
    height: 475px;
    margin-top: 0px;
  }
  .myprofile-details {
    max-height: 320px;
  }
  .visit-body-details,
  .host-visit-details {
    max-height: 535px;
  }
  .my-visitor-details {
    max-height: 295px;
  }
  .dashboard-details {
    max-height: 410px;
  }
  .task-details {
    max-height: 430px;
  }
  .visit-body-details,
  .shipment-details,
  .task-details {
    margin-top: 0px;
  }
  .shipment-details {
    max-height: 540px;
  }
  .mobile-show {
    display: block !important;
  }
  .user-wrap {
    margin-right: 15px;
    margin-bottom: 21px;
  }
  .user-wrap .select-wrap {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .user-wrap .select-wrap select {
    width: 100% !important;
  }
  .edit {
    bottom: -7px;
    right: 42%;
  }
  .safe-search-form {
    margin-bottom: 10px;
  }
  .safe-search-form form {
    width: 100%;
  }
  .safe-header h2 {
    margin: 10px 0px !important;
  }
  .user-header h2 {
    margin: 2px 0px !important;
  }
  .visitor-name-xs,
  .visitor-company-xs {
    display: inline;
    color: #3c65b6 !important;
    border: none !important;
    padding: 0 !important;
    top: 10px;
  }
  .visitor-name-xs span,
  .visitor-company-xs span {
    font-size: 15px !important;
    word-break: break-all;
  }
  .visitor-img-xs {
    display: inline-block;
    border: none !important;
    float: left;
  }
  .visitor-company-xs-content:before {
    content: " - ";
  }
  .myvisitor-email-xs {
    margin-left: 40px;
  }
  .toggle-xs {
    margin-top: 11px;
    margin-left: -6px !important;
    font-size: 0.45em !important;
  }
  #content {
    padding: 15px !important;
  }
  .addVisitor {
    padding: 10px 0px 20px 2px;
  }
  .sticky h2 {
    margin: 0px 13px;
  }
  .wrap .inside {
    padding: 15px !important;
  }
  .wrap .inside .wrap-body {
    padding: 10px !important;
  }
  .visitor-name-xs {
    font-size: 15px !important;
  }
  .visitor-email-xs,
  .myvisitor-email-xs,
  .import-email-xs {
    color: #b9b4b4 !important;
  }
  .visitor-email-xs span,
  .myvisitor-email-xs span,
  .import-email-xs span {
    font-size: 13px !important;
  }
  .search-bar input[type="text"] {
    border: 1px solid #c9c9c9;
  }
  .border-xs-hide {
    border: none !important;
  }
  .custom_open_xs {
    background-position: center;
  }
  .custom-open {
    border-color: transparent;
  }
  .no-padding-xs {
    padding: 0px !important;
  }
  .myprofile-right-tab,
  .visitors-right-tab {
    border-left: none;
  }
  .myprofile-right-tab .personnel-header,
  .visitors-right-tab .personnel-header {
    background-color: #FFFFFF;
    margin-bottom: 20px;
  }
  .myprofile-right-tab .personnel-header .profile-picture,
  .visitors-right-tab .personnel-header .profile-picture {
    height: 78px !important;
    float: none !important;
  }
  .myprofile-right-tab .personnel-header .profile-picture img,
  .visitors-right-tab .personnel-header .profile-picture img {
    height: 90px !important;
    width: 90px !important;
    margin: 5px auto;
  }
  .myprofile-right-tab .personnel-header .align-center h3,
  .visitors-right-tab .personnel-header .align-center h3,
  .myprofile-right-tab .personnel-header .align-center h4,
  .visitors-right-tab .personnel-header .align-center h4 {
    text-align: center;
    margin-bottom: 5px;
  }
  .myprofile-left-tab,
  .visitors-left-tab {
    height: 45px;
    border-bottom: 1px solid #e0dede;
    margin-bottom: 20px;
  }
  .myprofile-left-tab ul,
  .visitors-left-tab ul {
    text-align: left !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 48px;
  }
  .myprofile-left-tab ul li,
  .visitors-left-tab ul li {
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 10px;
    padding: 9px 3px 6px 3px;
  }
  .myprofile-left-tab ul li a,
  .visitors-left-tab ul li a {
    text-decoration: none;
    color: #000000;
  }
  .myprofile-left-tab ul li a.non-active-myprofile-tab,
  .visitors-left-tab ul li a.non-active-myprofile-tab,
  .myprofile-left-tab ul li a.non-active-visitors-tab,
  .visitors-left-tab ul li a.non-active-visitors-tab {
    border-bottom: none;
  }
  .myprofile-left-tab ul li a.active-myprofile-tab,
  .visitors-left-tab ul li a.active-myprofile-tab,
  .myprofile-left-tab ul li a.active-visitors-tab,
  .visitors-left-tab ul li a.active-visitors-tab {
    border-bottom: 4px solid #3c65b6;
  }
  .myprofile-left-tab ul li a.active-myprofile-tab,
  .visitors-left-tab ul li a.active-myprofile-tab {
    color: #225E9C !important;
    font-weight: bold;
    text-decoration: none;
  }
  .msg-position {
    position: static;
    top: 0px;
  }
  .host-visit-details {
    margin-top: 0px !important;
  }
  h2 {
    font-size: 1.6em;
  }
  .popup.popup-profile {
    width: 220px;
  }
  .btn-repeat-icon,
  .btn-add-icon,
  .btn-edit-icon,
  .btn-deny,
  .btn-save-icon,
  .btn-group-icon,
  .btn-adduser-icon {
    visibility: hidden;
    font-size: 1px !important;
  }
  .btn-repeat-icon,
  .btn-add-icon,
  .btn-edit-icon,
  .btn-deny,
  .btn-save-icon {
    padding: 10px 5px;
  }
  .btn-group-icon,
  .btn-adduser-icon {
    padding: 2px 6px !important;
  }
  .btn-repeat-icon:before,
  .btn-add-icon:before,
  .btn-edit-icon:before,
  .btn-deny:before,
  .btn-save-icon:before,
  .btn-group-icon:before,
  .btn-adduser-icon:before {
    background-image: url("../images/icons/repeat-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    content: "";
    height: 30px;
    width: 30px;
    visibility: visible;
    display: block;
    border-radius: 2px;
  }
  .btn-add-icon:before,
  .btn-save-icon:before,
  .btn-group-icon:before,
  .btn-adduser-icon:before,
  .btn-del-xs:before,
  .btn-edit-icon:before {
    background-color: #2C487C;
    border-color: #2C487C;
  }
  .btn-group-icon:before {
    background-image: url("../images/icons/add-group-white.svg");
    background-color: #2C487C;
  }
  .btn-adduser-icon:before {
    background-image: url("../images/icons/add-user-white.svg");
  }
  .btn-add-icon:before {
    background-image: url("../images/icons/plus-white.svg");
  }
  .btn-edit-icon:before {
    background-image: url("../images/icons/edit-white.png");
  }
  .btn-save-icon:before {
    background-image: url("../images/icons/check.png");
  }
  .btn-deny:before,
  .btn-repeat-icon:before {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
  }
  .btn-repeat-icon:before {
    background-image: url("../images/icons/repeat-white.svg");
  }
  .btn-deny:before {
    background-image: url("../images/icons/close-white.png");
  }
  .sticky .search-form {
    width: 100%;
    margin-bottom: 20px;
  }
  .sticky #host-a-visit-header {
    margin: 14px 0 15px;
  }
  .custom-angularstrap .dropdown-menu {
    width: 230px !important;
  }
  .custom-angularstrap .dropdown-menu table tr {
    border: none;
  }
  .custom-angularstrap .dropdown-menu table tr td:nth-child(2) {
    padding-top: 0px;
  }
  .custom-angularstrap .dropdown-menu {
    width: 230px !important;
  }
  .custom-angularstrap .dropdown-menu table tr {
    border: none;
  }
  .custom-angularstrap .dropdown-menu table tr td:nth-child(2) {
    padding-top: 0px;
  }
  .table tbody tr.table-row {
    padding: 6px 60px 25px 0;
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr.table-row td:nth-child(2) {
    padding-top: 12px;
  }
  .table tbody tr .mobile-checkbox {
    vertical-align: top !important;
  }
  .table tbody tr .mobile-checkbox .form-group-checkbox label:before {
    width: 20px;
    height: 20px;
    margin-right: 0;
    top: 0;
  }
  .table tbody tr td.visitor-xs-cell {
    padding: 5px 15px !important;
  }
  .table tbody tr td.cell-table,
  .table tbody tr td.cell-no-menu {
    display: block;
    padding: 3px 6px 3px 25px !important;
    border-top: 0px !important;
  }
  .table tbody tr td.cell-table:nth-last-child(2) {
    padding-bottom: 12px !important;
  }
  .table tbody tr td.cell-no-menu:nth-last-child(1) {
    padding-bottom: 15px !important;
  }
  .table tbody tr .date-field-left {
    display: inline-block;
    float: left;
    border: none !important;
    font-size: 10px !important;
  }
  .table tbody tr td.status-field {
    border: none !important;
  }
  .table tbody tr .status-field-pending {
    color: #9b9eb8;
  }
  .table tbody tr .status-field-registered {
    color: #75c224;
  }
  .table tbody tr .status-field-cancelled {
    color: #ff3b28;
  }
  .table tbody tr td {
    color: #000002;
  }
  .table tbody tr td .dt-options {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: block;
    position: absolute;
    top: 10px;
    border-top: 0 !important;
  }
  .table tbody tr td .dt-options .options-menu > a {
    height: 30px;
  }
  .table tbody tr td .groupTime:first-child {
    padding-top: 15px !important;
  }
  .table tbody tr td .first-check-in-cell {
    margin-top: -11px;
  }
  .table tbody tr td .first-check-out-cell {
    padding-top: 10px !important;
  }
  .table tbody .dasboard-myvisit-xs .cell-table {
    padding: 3px 6px 3px 15px !important;
  }
  .table tfoot tr.table-row td {
    padding: 20px 0 15px 0 !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .responsive-checkbox {
    width: 1px;
    position: relative;
    border-top: 0px !important;
  }
  .responsive-checkbox label {
    margin-left: 20px;
  }
  .actions {
    margin: 0 0 25px 0;
  }
  .actions ul {
    padding-top: 25px;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  #header .utility > li.icon-modules > a.menu-icon {
    background-image: url("../images/icons/more-white.png");
  }
  .responsive-scroll {
    overflow-y: auto !important;
  }
  .tab-title {
    background-color: #fff;
    border-radius: 1px;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
    border-bottom: 1px solid black;
    padding: 10px 15px;
    display: block !important;
  }
  .personnel-contract-Table table tbody tr.table-row {
    padding: 15px 0px 0px 0px!important;
    display: block;
    height: 75px;
  }
  .row-selection-table table tbody tr.table-row,
  .personnel-accessarea-table table tbody tr.table-row {
    display: block;
    padding: 10px 0px;
  }
  .row-selection-table .table tbody tr td.cell-table:nth-last-child(2) {
    padding-bottom: 0px !important;
  }
  .row-selection-table .wrap-header .buttons .btn-add-icon:before {
    background-image: url("../images/icons/close-white.png");
    background-color: #9b9b9b;
  }
  .wrap .wrap-header .buttons .add-btn-xs {
    position: absolute;
    right: 15px;
    top: 5px;
  }
  .contract-search-xs input[type=text] {
    margin-top: 15px;
  }
  .contract-search-xs button {
    height: 30px !important;
    margin-left: 5px;
  }
  .leftAlign-xs span {
    text-align: left !important;
  }
  .contractnum-xs,
  .employerName-xs,
  .cardnum-xs {
    display: table-cell !important;
  }
  .employerName-xs:before,
  .dateRangeEnd-xs:before,
  .areaname-xs:before,
  .cardtype-xs:before,
  .recurend-xs:before,
  .recdateend-xs:before {
    content: " - ";
  }
  .contractnum-xs span,
  .employerName-xs span {
    font-size: 16px !important;
    color: #3c65b6;
    display: inline !important;
  }
  .dateRange-xs span,
  .dateRangeEnd-xs span,
  .clearance-xs span,
  .areaname-xs,
  .cardtype-xs,
  .assettype-xs span,
  .assettype-table-xs span,
  .taskrequester-xs,
  .taskdate-xs,
  .taskvemail-xs,
  .areaname-hostvisit-xs {
    color: #9e9e9e !important;
  }
  .dateRange-xs {
    display: inline !important;
    float: left;
  }
  .emp_contracts_modal .modal-dialog,
  .emp_authAdmin_modal .modal-dialog {
    width: auto;
    margin: 10px;
  }
  .emp_contracts_modal .modal-dialog .modal-content {
    padding: 5px;
  }
  .sysname-xs span,
  .cardnum-xs span,
  .assetgroup-xs span,
  .assetgroup-table-xs span,
  .taskdesc-xs,
  .visitdesc-xs span,
  .drivername-xs {
    font-size: 14px !important;
    color: #3c65b6 !important;
  }
  .addRemove-xs {
    display: table-cell;
    float: right;
    position: relative;
    top: -30px;
    right: 15px;
  }
  .datefield-xs,
  .datefieldDec-xs,
  .area-status-xs,
  .personnel-accessarea-table .table tbody tr td.del-icon-xs {
    display: table-cell !important;
  }
  .personnel-accessarea-table .table tbody tr td.cell-table,
  .table tbody tr td.cell-no-menu {
    padding-left: 10px !important;
  }
  .accessCard-xs {
    display: table-cell !important;
  }
  .accessCard-d-xs {
    display: none !important;
  }
  .date-icon {
    background-size: 10px;
    right: -10px;
    margin-top: 5px;
  }
  .btn-del-xs {
    font-size: 0px;
    padding: 0px;
  }
  .btn-del-icon:before {
    background-image: url("../images/icons/trash.svg") !important;
    background-color: #2C487C!important;
    background-size: 16px;
    border-radius: 3px;
    height: 30px;
    width: 30px;
  }
  .personnel-contract-Table .table tbody tr td.responsive-checkbox,
  .personnel-accesscard-table .table tbody tr td.responsive-checkbox,
  .personnel-assets-table .table tbody tr td.responsive-checkbox {
    padding-left: 0px !important;
    display: table-cell !important;
    top: -5px;
  }
  .assetgroup-table-xs {
    display: table-cell !important;
  }
  .action-cell {
    width: 35px !important;
  }
  .personnel-contract-Table .table tbody tr td.del-icon-xs,
  .personnel-assets-table .table tbody tr td.del-icon-xs {
    position: relative;
    top: -60px;
    right: 10px;
    float: right;
  }
  .visitorheading-xs {
    margin: 8px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .personnel-assets-table .table tbody tr td.del-icon-xs {
    top: -40px;
  }
  .personnel-accesscard-table .btn-del-icon:before {
    position: relative;
    left: 23px;
  }
  .personnel-accessarea-table table tbody tr.table-row {
    display: block;
    padding: 15px 0px;
    height: 100px;
  }
  .personnel-accesscard-table table tbody tr.table-row {
    display: block;
    padding: 15px 0px;
    height: 90px;
  }
  .personnel-assets-table table tbody tr.table-row {
    display: block;
    padding: 15px 0px;
    height: 75px;
  }
  .wrap .inside.wrap-header {
    border-bottom: none !important;
  }
  .td-btn {
    width: 100%;
  }
  .wrap .wrap-header .buttons {
    right: -5px;
  }
  .backtovisitors {
    color: gray;
    font-size: 16px;
  }
  .backarrow {
    background-image: url("../images/icons/backarrow.png");
    padding: 5px 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .backarrowblock {
    padding-top: 10px;
  }
  .personnel-details-xs {
    margin: 0px;
    background-color: #fff;
  }
  .requestheading-xs {
    padding-top: 15px;
  }
  .table-column .body-wrap {
    margin-top: 0px;
  }
  .profile-xs {
    margin-bottom: 0px;
    padding-top: 20px;
  }
  .table tbody tr td.cell-table.taskdesc-xs,
  .table tbody tr td.cell-table.taskdate-xs,
  .table tbody tr td.cell-table.taskrequester-xs {
    padding-left: 15px !important;
  }
  .taskdesc-xs {
    margin-top: 10px;
    font-weight: 600;
  }
  .taskdate-xs {
    margin-bottom: 10px;
  }
  .status-xs {
    font-size: 14px;
  }
  .taskheading-xs {
    font-size: 18px;
    font-weight: 600;
    margin-left: 0px !important;
  }
  .tasks-page-push {
    margin-top: 15px;
    max-height: 460px;
    overflow-y: auto;
  }
  .wrap .inside.taskdetailblock-xs {
    padding: 15px 0px!important;
  }
  .taskblockbg-xs {
    background-color: #f2f2f2 !important;
    margin-bottom: 0px;
  }
  .taskblock-xs {
    background-color: #fff;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .taskblock-xs:last-child {
    margin-bottom: 0px;
  }
  .taskvname-xs,
  .recurday-xs {
    font-size: 16px !important;
    color: #3c65b6 !important;
  }
  .table tbody tr td.cell-table.taskvname-xs,
  .table tbody tr td.cell-table.taskvemail-xs,
  .table tbody tr td.cell-table.recursstart-xs,
  .table tbody tr td.cell-table.recurday-xs,
  .errormodal .modal-title {
    padding-left: 15px !important;
  }
  .taskvisitorhead-xs {
    padding-bottom: 15px;
  }
  .recursstart-xs,
  .recurend-xs {
    display: inline !important;
    color: #9e9e9e !important;
  }
  .table tbody tr td.recurday-xs {
    display: block !important;
    border-top: none;
  }
  .justification-xs {
    float: none !important;
    padding: 5px 15px;
  }
  .myvisitbtn-xs {
    margin-right: 0px;
    padding-right: 0px !important;
  }
  .visitdesc-xs {
    margin-top: 5px;
  }
  .visitloc-xs {
    color: #9b9eb8;
    margin-top: 5px;
    line-height: 0.5 !important;
  }
  .visittime-xs {
    margin-bottom: 10px;
  }
  .visittime-xs span,
  .drivercompany-xs,
  .recdateend-xs {
    font-weight: 600;
  }
  .customrecmodal .modal-dialog {
    width: auto;
    margin: 20px;
  }
  .hostvisitmodal .modal-dialog,
  .searchmodal .modal-dialog {
    width: auto;
    margin: 15px;
  }
  .customrow-pad-xs {
    padding: 0px 15px;
  }
  .customrow-xs .row {
    padding: 5px 0px !important;
  }
  .addNewVisitorModal .modal-header {
    margin-bottom: 0px !important;
  }
  .shipmentbtn-xs {
    float: right !important;
  }
  .closebtn-xs {
    padding-top: 5px !important;
  }
  .shipmenthead-xs {
    padding-top: 10px;
    font-size: 21px;
  }
  .contactcancel-xs {
    padding: 0px;
  }
  .searchvisitormodal .modal-dialog,
  .searchmultimodal .modal-dialog,
  .confirmation_modal .modal-dialog {
    width: auto !important;
    margin: 20px;
  }
  .table tbody tr td.cell-table.tabledata {
    padding: 3px 0px !important;
  }
  .tabledata span {
    color: #3e67b4;
    font-size: 14px;
  }
  .errormodal .modal-sm {
    width: auto;
  }
  .groupimportfield {
    padding: 16.6px 10px;
  }
  .browsepos {
    padding: 0px 0px 25px 0px;
  }
  .modal-content {
    bottom: 0px;
  }
  .clearance-xs,
  .dateRange-xs,
  .dateRangeEnd-xs,
  .assettype-table-xs,
  .cardtype-xs,
  .assetgroup-xs,
  .assettype-xs,
  .access-status-xs {
    text-align: left !important;
  }
  .personnel-contract-Table .table tbody tr td.contractnum-xs {
    padding-left: 15px !important;
  }
  .personnel-contract-Table .table tbody tr td.employerName-xs,
  .personnel-accessarea-table .table tbody tr td.responsive-checkbox {
    padding-left: 0px !important;
  }
  .personnel-contract-Table .table tbody tr td.dateRange-xs,
  .personnel-contract-Table .table tbody tr td.dateRangeEnd-xs {
    padding-left: 15px !important;
  }
  .personnel-accessarea-table .table tbody tr td.responsive-checkbox,
  .sysname-xs,
  .areaname-xs {
    display: inline-block !important;
  }
  .area-status-xs span {
    position: relative;
    top: 5px;
    font-size: 0px !important;
  }
  .personnel-accessarea-table .table tbody tr td.del-icon-xs {
    width: auto !important;
    top: -5px;
    position: relative;
  }
  .cardnum-xs {
    position: relative !important;
    top: 3px;
  }
  .cardstatus-xs select {
    border: 1px solid;
    position: relative;
    left: -5px;
  }
  .select-wrap {
    margin: 10px 0px;
  }
  .personnel-accesscard-table .table tbody tr td.cardtype-xs {
    padding-bottom: 0px !important;
  }
  #add-new-card-modal .modal-body {
    padding: 15px 15px 10px 0px;
  }
  .txtarea-xs {
    padding-left: 18px;
  }
  .modal-header {
    border: none;
  }
  .addNewVisitorModal .modal-body {
    padding: 0px 15px !important;
  }
  .pull-left-xs {
    float: left;
  }
  .wrap .register-pad {
    padding: 0px !important;
  }
  #tasksSearchForm,
  .mrgright-none-xs {
    margin-right: 0px;
  }
  /*.searchmodal .wrap-header.inside h3 {
    margin-top: 0px;
}*/
  .recdate-xs {
    float: left;
    font-weight: 600;
  }
  .closed {
    background-image: none;
  }
  .modalsave-pos {
    position: relative;
    top: -51px;
    left: -40px;
  }
  .row-selection-table td.cell-table {
    text-align: left !important;
  }
  .row-selection-table .add-remove-btn {
    float: right;
    position: relative;
    top: -50px;
    right: 15px;
  }
  .btn-edit-icon {
    font-size: 0px;
  }
  .cardtype-xs {
    position: relative !important;
    top: -95px;
    left: 85px;
  }
  .no-pad-left-xs {
    padding-left: 0px !important;
  }
  .cardstauts-xs {
    float: right;
    position: relative !important;
    top: -40px;
    left: 50px;
  }
  .cardstauts-xs .select-wrap::after {
    display: none;
  }
  .cardstauts-xs .select-wrap {
    pointer-events: none;
  }
  .accessCard-xs .smart-date-icon {
    display: none !important;
  }
  .accessCard-xs input[type=datetime] {
    border: none;
    position: relative;
    top: -26px;
    left: 60px;
    padding-left: 0px;
    color: #9e9e9e !important;
  }
  .personnel-accesscard-table td.accessCard-xs:before {
    content: 'Activated :';
    float: left;
    color: #9e9e9e !important;
    position: relative;
    left: -5px;
  }
  .personnel-body .personnel-details .personnel-accesscard-table .custom-angularstrap .datetimepicker-input {
    color: #9e9e9e !important;
  }
  .personnel-accesscard-table .table td.cardnum-xs {
    padding-left: 10px !important;
  }
  #current-app {
    font-size: 14px;
    margin-top: 6px;
    margin-left: 83px;
  }
  #light-bar {
    margin-top: 3px;
  }
  .dropdown-menu.search-dropdown {
    left: -85px;
    min-width: 130px;
  }
  .svg-margin {
    margin-left: 15px;
    /*width:100% !important;*/
  }
  .groupimport-browse {
    font-size: 0px;
    background-repeat: no-repeat;
    background-image: url("../images/icons/upload.svg") !important;
    background-size: 30px;
    padding: 20px 13px;
    height: 30px;
    width: 30px;
  }
  .confirmation_modal .modal-footer {
    text-align: right;
  }
  .accessarea-hostvisit .table tbody tr td.del-icon-xs {
    display: table-cell !important;
  }
  .datetimepicker-input {
    font-size: 11px !important;
  }
  .custom-angularstrap .dropdown-menu tr td {
    padding: 0px !important;
  }
  .datefieldDec-xs .custom-angularstrap .dropdown-menu.datepicker {
    left: -60px !important;
  }
  .custom-angularstrap.advance-search-xs .dropdown-menu.datepicker {
    left: 0px  !important;
  }
  .custom-angularstrap .btn {
    padding: 6px 10px !important;
  }
  .request-list-xs .dropdown-menu {
    font-size: 11px;
  }
  .header-button {
    margin: 0px !important;
    padding: 5px !important;
  }
  .check-in-dropdown li a {
    margin-right: 15px;
    position: relative;
    top: -15px;
  }
  .popup.popup-modules .items .item {
    background-size: 26px;
    margin-bottom: 0px;
  }
  .popup.popup-modules {
    width: 250px;
  }
  .popup.popup-modules .inside {
    padding: 0px 25px;
  }
  #header .popup.popup-modules .items .item a span {
    bottom: 20px;
  }
  .popup .inside > h2 {
    text-align: center;
    padding: 15px;
  }
}
/*Landscape*/
@media only screen and (min-width: 568px) {
  .popup.popup-modules {
    width: 350px;
  }
}
/*COLORS*/
/*--------------------------------------------------------*/
/*breadcrumb-navigation*/
/*--------------------------------------------------------*/
.personnel-body .personnel-header .profile-picture {
  height: 120px;
  margin: 0 auto 1em;
  position: relative;
  width: 100%;
}
.personnel-body .personnel-header .profile-picture .person-profile-picture {
  height: 120px;
}
.personnel-body .personnel-header .profile-picture img {
  border-radius: 50%;
  display: block;
  height: auto;
  width: 100%;
}
.personnel-body .personnel-details .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.personnel-body .personnel-details .personnel-wrap {
  margin-bottom: 5px;
}
.personnel-body .personnel-details .personnel-wrap .inside {
  padding: 0px 25px;
}
#add-new-card-modal .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
#add-new-card-modal .text-area-css {
  height: 80px;
  margin-bottom: 15px;
}
#add-new-card-modal .text-area-css textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.element-body .custom-angularstrap .form-control {
  text-shadow: none !important;
  color: #555555 !important;
}
.host-include-div {
  margin-bottom: 20px;
}
.host-visit-details {
  margin-top: 65px;
}
.msg-position {
  position: absolute;
  top: 25px;
}
/*COLORS*/
/*--------------------------------------------------------*/
/*breadcrumb-navigation*/
/*--------------------------------------------------------*/
