/* app css stylesheet */
@full: 100%;
@breathingRoom: 2em;

.sidebar {
  float: left;
  width: 50px;
  height: @full;
  background-color: aquamarine;
}

.header {
  text-align: center;
  width: @full;
  height: 100px;
  padding-top: @breathingRoom;
  background-color: saddlebrown;
}

#viewPort {
  margin-left: auto;
}

hr.line {
  border: 1px solid black;
}

.header h1 {
  color: azure;
}

table {
  border-collapse: collapse;
  td, th {
    border: solid 1px black;
  }
}