/* app css stylesheet */
.sidebar {
  float: left;
  width: 50px;
  height: 100%;
  background-color: aquamarine;
}
.header {
  text-align: center;
  width: 100%;
  height: 100px;
  padding-top: 2em;
  background-color: saddlebrown;
}
#viewPort {
  margin-left: auto;
}
hr.line {
  border: 1px solid black;
}
.header h1 {
  color: azure;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: solid 1px black;
}
