﻿/* Medium devices (desktops, 1000px and below)
------------------------------------------------- */

@media (max-width: 850px) {
    .visits-responsive-buttons,
    .pull-right-responsive-left,
    .pull-right-responsive-left * {
        width: auto !important;
        float: right !important;
    }
    .visits-responsive-buttons button {
        float: left !important;
        margin: -1px 10px 15px 0;
        padding: 5px;
    }
    .visits-responsive-table table {
        margin-top: 40px !important;
    }
    .visits-search-row {
        width: 50%;
    }
    /*.responsive-button-group-column{*/
    /*width: 70%;*/
    /*}*/
    /*.responsive-header-column{*/
    /*width: 30%;*/
    /*}*/
    /*.responsive-button-group{*/
    /*width: 50%;*/
    /*float: right;*/
    /*}*/
}


/* Responsive modal size for tables
------------------------------------------------- */

@media (max-width: 1100px) {
    .modal-content {
        width: 100%;
    }
}


/* Medium devices (desktops, 1000px and below)
------------------------------------------------- */

@media (max-width: 1000px) {
    .responsive-table {
        margin-top: 0;
    }
    .table-column {
        padding-left: 0px;
    }
    /*.responsive-disabled-buttons{*/
    /*clear: none ;*/
    /*float: right;*/
    /*}*/
    .pull-right-responsive-left {
        float: right;
    }
    .check-in-button {
        margin-right: 2px;
    }
    div.visits-container {
        padding-top: 80px;
    }
    .filters {
        clear: left;
    }
    .first-filter {
        padding-left: 0;
    }
    button#capture {
        position: absolute;
        top: 190px;
        left: 150px;
    }
}


/* Tablets (tablets, 900px and below)
------------------------------------------------- */

@media (max-width: 900px) {
    .image-container {
        display: none;
    }
    .requests-table-col {
        padding: 0;
    }
    .requests-table-col .wrap {
        margin-bottom: 0;
    }
    .details-buttons div {
        margin-top: 15px;
    }
    tr td {
        padding: 15px 10px !important;
    }
    button#capture {
        position: absolute;
        top: 190px;
        left: 150px;
    }
    .k-scheduler-content {
        margin-top: -30px;
        margin-left: -10px;
    }
    #axis-header-container {
        margin-top: 58px;
    }
    table.calendar-axis tr td,
    td.axis-head {
        background-color: #FFF;
        height: 58px !important;
        padding: 2px 0;
        width: 100px;
        border: 1px solid #D6D6D6;
        text-align: center;
        vertical-align: middle;
    }
    .k-scheduler-header {
        margin-left: -10px;
    }
}


/* Mobile / Tablets (tablets, 769px and below)
------------------------------------------------- */

@media (max-width: 768px) {
    #content {
        margin-top: 60px;
        overflow: scroll;
    }
    .wrap.body-wrap.dashboard-body-wrap {
        margin-bottom: 25px;
    }
    div.requests-buttons {
        clear: both;
        padding-left: 0;
        width: 100%;
    }
    .requests-responsive-pull {
        width: 30%;
        clear: none !important;
        float: right;
    }
    .requests-responsive-pull * {
        float: right;
    }
    .button-column {
        width: 70%;
    }
    .requests-responsive-pull * {
        float: left !important;
    }
    #request-button {
        margin-top: -1px;
    }
    .actions ul {
        padding-top: 4em;
    }
    .active-header {
        clear: both;
    }
    .active-button {
        padding-right: 22px;
    }
    .modal-search-bar {
        padding-left: 15%;
    }
    .responsive-buttons {
        float: none !important;
    }
    .header-wrap {
        padding-top: 15px;
    }
    .header-wrap .wrap {
        margin: 0;
        padding: 15px;
    }
    /*ANGULAR STYLES BEGIN*/
    /*table stuff BEGIN*/
    .checkInHeader {
        padding-top: 20px !important;
    }
    .body-wrap {
        padding-top: 0;
    }
    .options-menu-widget {
        width: 80px;
    }
    .table-column {
        padding: 0;
    }
    .table {
        margin-top: 0;
    }
    a.header-button {
        float: left;
        display: inline-block;
        margin-top: 0;
    }
    a.check-in-button,
    a.new-button {
        margin: 0px 0px 15px 0px;
    }
    th.table-head {
        padding: 15px !important;
    }
    td.cell-table,
    td.cell-no-menu {
        padding: 15px !important;
        border-top: 0;
    }
    div.first-checkbox {
        width: 15px;
    }
    div.unselected-buttons div.pull-right {
        padding-right: 25px;
    }
    .responsive-buttons {
        padding-left: 0;
    }
    .table {
        /*min-width: 200px !important;*/
    }
    .header-button {
        margin: -1px 10px 10px 0;
    }
    .menu-span-1,
    .menu-span-2 {
        font-size: 11px
    }
    .checkInEmployeeHeader {
        padding-top: 60px !important;
    }
    a.new-button {
        margin-left: 15px;
    }
    .check-in-button {
        padding: 5px;
    }
    .responsive-disabled-buttons {
        clear: both;
    }
    .pull-right-responsive-left {
        width: 100%;
    }
    div.table-container {
        margin-bottom: 25px;
    }
    .table-column {
        padding: 0 !important;
    }
    /*body stuff BEGIN*/
    .body-wrap {
        margin-bottom: 0;
    }
    div.actions {
        margin: 1px;
    }
    .header-container {
        padding: 0 !important;
        margin: 0 !important;
    }
    .profile-header {
        margin-bottom: 15px;
    }
    .image-container {
        display: none;
    }
    /*profile stuff BEGIN*/
    .user-profile-headers {
        text-align: center;
    }
    .profile-inside {
        padding-bottom: 15px;
    }
    /*check-in modal BEGIN*/
    .check-in-float-right {
        float: right !important;
    }
    .issue-temp-button {
        width: 18%;
    }
    /*check-out BEGIN*/
    .check-out-table {
        margin-top: 0;
    }
    .host-a-visit-body-wrap {
        padding-top: 0;
    }
    #create-a-visit-content {
        padding: 0;
    }
    .mobile-hide {
        display: none !important;
    }
    .dt-options {
        border-top: 0 !important;
    }
    table.table-condensed {
        position: absolute;
    }
    /*create-a-visit begin*/
    .wrap .inside.create-a-visit-header {
        padding-top: 18px;
    }
    .check-in-modal-buttons .pull-right a {
        float: left;
    }
    .check-in-modal-buttons .pull-right a+a {
        margin-right: 0;
    }
    table.fixed-table {
        display: block;
    }
    table.fixed-table tbody,
    table.fixed-table tfoot,
    table.fixed-table tfoot tr,
    table.fixed-table tfoot tr td {
        display: block;
    }
    table.fixed-table tfoot tr {
        padding-left: 0;
    }
    /*VISITORS DASHBOARD STYLES*/
    .responsive-input {
        margin: 0 15px 15px 15px;
    }
    .sidebar-stats {
        padding-top: 0;
    }
    .chart-body .title {
        top: 20px;
    }
    .chart-body .subtitle {
        top: 40px;
    }
    .header-button {
        padding: 5px !important;
    }
    .check-in-button {
        margin-right: 10px !important;
    }
   
    .table-column {
        margin-bottom: 20px;
    }
    .no-margin-wrap {
        margin: 0 !important;
    }
    .double-table-column,
    .final-table-wrap,
    .wrap {
        margin-bottom: 25px;
    }
    .final-table-double-wrap {
        margin-bottom: 50px;
    }
    /*increasing width of button groups*/
    .check-in-visitors-button-container * {
        margin: 0;
    }
    .header-button-group .btn-deny {
        margin: 1px 0 0 5px;
    }
    .visits-responsive-table table,
    .checkInPush {
        margin-top: 0px !important;
    }
    .new-button {
        margin-left: 0 !important;
    }
   
    .searchDropdown {
        top: -400px;
        left: 6%;
    }
}


/* Mobile Only (mobile, 605px and below)
------------------------------------------------- */

@media (max-width: 605px) {
    .wrap-header {
        border-bottom: 0px;
    }
    .check-in-button {
        padding: 4px;
    }
    tr.table-row td:nth-child(2) {
        /*padding-top: 12px !important;*/
    }
    td.cell-table:nth-last-child(2) {
        padding-bottom: 12px !important;
    }
    td.cell-no-menu:nth-last-child(1) {
        padding-bottom: 15px !important;
    }
    td.dt-options {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        display: block;
        position: absolute;
        top: 10px;
        border-top: 0 !important;
    }
    a.new-button {
        margin-left: 15px;
    }
    td.groupTime:first-child {
        padding-top: 15px !important;
    }
    .dt-options .options-menu>a {
        height: 30px;
    }
    ul.options-menu-widget {
        width: 80px;
        height: 70px;
        top: 30px;
    }
    ul.options-menu-widget li {
        margin-bottom: -7px;
    }
    ul.options-menu-widget li:last-child {
        margin-bottom: -3px;
    }
    td.first-check-in-cell {
        margin-top: -11px;
    }
    td.first-check-out-cell {
        padding-top: 10px !important;
    }
    .options-menu ul li:first-child>a {
        padding-top: 5px;
    }
    .mobile-hide {
        display: none !important;
    }
    .header-wrap .wrap ul {
        padding-left: 0;
    }
    .responsive-checkbox {
        width: 1px;
        position: relative;
        border-top: 0px !important;
    }
    .responsive-checkbox label {
        margin-left: 20px;
    }
    tfoot tr.table-row td {
        padding: 20px 0 15px 0 !important;
    }
    div.check-in-group-view {
        display: none;
    }
    .table>tbody>tr>td.dt-options,
    .table>tbody>tr>th.dt-options,
    .table>tfoot>tr>td.dt-options,
    .table>tfoot>tr>th.dt-options,
    .table>thead>tr>td.dt-options,
    .table>thead>tr>th.dt-options {
        display: block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 5px;
        vertical-align: middle;
    }
    .checkbox-toggle,
    .dt-options {
        position: absolute;
    }
    .action-cell {
        right: 0;
    }
    .checkbox-toggle {
        left: 0;
    }
    .table-column {
        margin-bottom: 20px;
    }
    /*increasing width of button groups*/
    .check-in-visitors-button-container * {
        margin: 0;
    }
    /*TEST*/
    .header-button-group .btn-deny {
        float: right;
        margin: 1px 0 0 5px;
    }
    .visits-responsive-table table,
    .checkInPush {
        margin-top: 0px !important;
    }
    .new-button {
        margin-left: 0 !important;
    }
    .qs-add-remove-directive {
        float: left;
    }
   
    .searchDropdown {
        top: -400px;
        left: 6%;
    }
    /*RESPONSIVE HEADER ICON BUTTONS*/
    .responsive-disabled-buttons {
        position: absolute;
        right: 5px;
        top: 25px;
    }
    .pull-right-responsive-left * {
        width: 30px !important;
    }
    .requests-responsive-pull {
        width: 100%;
        float: right !important;
    }
    .requests-responsive-pull * {
        float: right !important;
    }
    .search-column {
        width: 100% !important;
    }
    .responsive-icon-button {
        background: transparent !important;
        border: none !important;
        text-indent: -9999em !important;
        color: transparent !important;
        font-size: 0;
    }
    .responsive-icon-button span {
        display: none !important;
    }
    .responsive-icon-button::before {
        height: 30px !important;
        width: 30px !important;
        content: "" !important;
        display: block !important;
        border: 1px solid #B6b6b6 !important;
        border-radius: 2px !important;
    }
    .responsive-icon-button.step-approve::before {
        background: url("../images/icons/icon__delete.svg") no-repeat 50% 50% !important;
    }
    .responsive-icon-button.step-deny::before {
        background: url("../images/icons/icon__delete.svg") no-repeat 50% 50% !important;
    }
    .responsive-icon-button.step-add::before {
        background: url("../images/icons/icon__delete.svg") no-repeat 50% 50% !important;
    }
    #current-app {
        width: 200px !important;
    }
    .dropdown-header {
        width: auto !important;
    }
    .dropdown-container {
        width: auto !important;
    }
    .dropdown-container * {
        width: 100% !important;
        padding-top: 8px;
    }
    .search-box-component form {
        clear: both !important;
        margin-bottom: 10px;
        width: 100% !important;
    }
}


/* Mobile Only (tablets, 500px and below)
------------------------------------------------- */

@media (max-width: 500px) {
    div.popup-messages {
        width: 300px;
    }
    #message-item {
        overflow: hidden;
    }
    .modal-save {
        float: left;
        clear: both;
    }
    .modal-header {
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, .2);
    }
    .modal-content {
      /*  min-width: 340px;*/
        height: auto;
        bottom: 120px;
    }
    .modal-title {
        float: none;
    }
   /* .modal-body {
        padding: 40px;
    }*/
    .modal-footer {
        text-align: justify;
    }
    #add-new-visitor {
        height: 10%;
        width: 10%;
        float: none;
        margin-top: 0px;
    }
    .new-visitor-modal-text {
        margin-bottom: 10px;
    }
    .new-visitor-modal-buttons {
        margin-left: 5%;
    }
    .new-visitor-modal-header {
        padding-bottom: 27px;
    }
    .visits-result td {
        margin: 0 auto;
        text-align: center;
    }
    td.dt-time {
        margin-left: -13% !important;
    }
    .visits-result {
        padding-top: 7%;
    }
    .group {
        padding-top: 14px;
        padding-left: 4%;
    }
    .open {
        background-image: url("../images/icons/collapse-opened.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .closed {
        background-image: url("../images/icons/collapse-closed.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    div#my_camera {
        margin: 40px 0 25px 20px;
    }
    button#capture {
        position: absolute;
        top: 190px;
        left: 150px;
    }
    #photoCaptureModal label {
        display: inline;
    }
    #info-logo {
        margin-left: 24% !important;
        width: 40% !important;
    }
    .copyright-info {
        font-size: 10px;
    }
    .imgCropper-controls button {
        padding: 0 1%;
    }
}


/*strictly mobile*/

@media (max-width: 400px) {
    .header-button {
        margin-bottom: 0;
    }
}


/*============================*/


/*MIN WIDTH BREAKPOINTS BELOW*/


/*============================*/


/* Small devices (tablets, 769px and up)
------------------------------------------------- */

@media (min-width: 769px) {
    .checkInPush-0 {
        margin-top: 122px;
    }
    .checkInPush-1 {
        margin-top: 177px;
    }
    .checkInPush-2 {
        margin-top: 232px;
    }
    .checkInPush-3 {
        margin-top: 322px;
    }
    .checkInPush-4 {
        margin-top: 379px;
    }
    .checkInPush-5 {
        margin-top: 434px;
    }
    body {
        background-color: #fff;
    }
    #panels:before {
        background-color: #e6e6e6;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 50%;
        z-index: -2;
    }
    .btn.btn-deny {
        background-color: #f2f2f2;
        background-image: none;
        border-color: #f2f2f2;
    }
    .btn.btn-deny span {
        overflow: visible;
        text-indent: 0;
        white-space: normal;
        width: auto;
    }
    .btn.btn-confirm {
        background-image: none;
    }
    .btn.btn-confirm span {
        overflow: visible;
        text-indent: 0;
        white-space: normal;
        width: auto;
    }
    #header {
        position: absolute;
    }
    #header .utility>li+li {
        margin-right: 10px;
    }
    #header>.container>.row>.first {
        max-width: 25%;
        padding-left: 15px;
    }
    #header #searchForm {
        border-bottom: 0;
    }
    #header #searchForm input[type="text"] {
        font-size: 1.143em;
        padding-left: 40px;
    }
    #header #searchForm .btn {
        background-size: 18px;
        background-position: center .65em;
        width: 35px;
    }
    #header-search {
        display: block;
    }
    #header-search .search-toggle {
        display: none;
    }
    #header .panel-toggle-left {
        margin-right: 10px;
    }
    #panels {
        height: 100%;
        /* fallback */
        height: 100vh;
        min-height: 100%;
        /* fallback */
        min-height: 100vh;
        position: absolute;
    }
    #panels .container {
        height: 100%;
        position: relative;
    }
    #panels .panel-left {
        display: block;
        width: 220px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .closed-left #panels .panel-left {
        width: 70px;
    }
    #panels .panel-left:before {
        display: block;
    }
    #panels .panel-left:after {
        clear: both;
        content: "";
        display: table;
    }
    #panels .panel-left nav {
        margin: 20px 0;
    }
    #panels .panel-left nav ul li a {
        background-position: 30px center;
        padding-left: 70px;
    }
    h2[class^="icon-"] {
        font-size: 1.286em;
    }
    #content {
        height: 100%;
        /* fallback */
        height: 100vh;
        min-height: 100%;
        /* fallback */
        min-height: 100vh;
        margin-top: 0;
        padding-top: 90px;
        position: relative;
        z-index: 0;
        overflow: auto;
    }
    .closed-left #content {
        padding-left: 95px;
    }
    .closed-right #content {
        padding-right: 25px;
    }
    /*content body does not move when menus open*/
    .open-left #content {
        position: relative;
        padding-left: 95px;
    }
    .open-right #content {
        position: relative;
        padding-right: 25px;
    }
    .sticky .container {
        margin-top: 0;
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 95px;
    }
    .open-left .sticky,
    .open-right .sticky {
        position: fixed;
        z-index: 1;
    }
    .has-sticky #header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 4;
    }
    .has-sticky #content {
        padding-top: 150px;
    }
    .sticky {
        height: 75px;
        left: 0;
        margin: 0;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 1;
    }
    .closed-right .sticky .container {
        padding-right: 25px;
    }
    .closed-left .sticky .container {
        padding-left: 95px;
    }
    .sticky .search-form .form-control {
        height: 36px;
    }
    .sticky .search-form .btn {
        height: 36px;
    }
  /*  .table>tbody>tr>td,
    .table>tfoot>tr>td,
    .table>thead>tr>td {
        font-size: 1em;
        padding: 15px;
    }*/
    .table>tbody>tr>td.dt-heading-mobile,
    .table>tfoot>tr>td.dt-heading-mobile,
    .table>thead>tr>td.dt-heading-mobile {
        color: #555;
        font-family: "robotoregular";
    }
    .table tr {
        border-bottom: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
    .table.table-responsive tr:last-of-type {
        border-bottom: 1px solid #ddd !important;
    }
    .table>tbody>tr>td.dt-options,
    .table>tbody>tr>th.dt-options,
    .table>tfoot>tr>td.dt-options,
    .table>tfoot>tr>th.dt-options,
    .table>thead>tr>td.dt-options,
    .table>thead>tr>th.dt-options {
        display: table-cell;
        position: relative;
        right: auto;
        top: auto;
    }
    .actions {
        margin: 0 0 25px;
    }
    .actions ul li {
        font-size: .929em;
        height: auto;
    }
    .wrap .wrap-header .buttons {
        right: auto;
        top: -2px;
    }
    #pagination-cell {
        border-bottom: 0 !important;
    }
    .pagination-cell {
        border-bottom: 0 !important;
    }
}


/*==============================*/


/* change the min-width below to
set when content re-sizes or when
menus overlap content*/


/*==============================*/

@media (min-width: 800px) {
    /*content body does not move when menus open*/
    .open-left #content {
        position: relative;
        padding-left: 245px;
    }
    .open-right #content {
        position: relative;
        padding-right: 280px;
    }
    .sticky .container {
        margin-top: 0;
        padding-top: 25px;
        padding-right: 280px;
        padding-left: 245px;
    }
}


/* Extra Large devices (extra large screens, 1440px and up)
------------------------------------------------- */

@media (min-width: 1440px) {
    #content {
        padding-right: 205px;
        padding-left: 170px;
    }
}

@media (max-width: 1414px) {
    #advanced-search-icon {
        width: 20px;
        height: 21px;
        margin-left: -7px;
    }
    #dropdownButtonHeight {
        width: 47px;
    }
}

@media (max-width: 1100px) {
    .search-item-responsive {
        width: 81% !important;
    }
}

@media (max-width: 800px) {
    .search-item-responsive {
        width: 80% !important;
    }
}

@media (max-width: 600px) {
    .search-item-responsive {
        width: 81% !important;
    }
    .responsive-info-text {
        font-size: 10px !important;
    }
}

@media (min-width: 769px) {
    .checkInPush-0 {
        margin-top: 122px;
    }
    .checkInPush-1 {
        margin-top: 177px;
    }
    .checkInPush-2 {
        margin-top: 232px;
    }
    .checkInPush-3 {
        margin-top: 287px;
    }
    .checkInPush-4 {
        margin-top: 342px;
    }
    .checkbox-responsive {
        margin-top: -13px;
    }
}

@media (max-width: 768px) {
    .checkbox-responsive {
        margin-top: 5px;
    }
    #add-new-capture-modal {
        top: 0 !important;
    }
    .info-header {
        width: 68% !important;
    }
    #info-logo {
        margin-left: 35%;
        width: 30%;
    }
}

@media (min-width: 1016px) {
    .checkInPush-0 {
        margin-top: 87px;
    }
    .checkInPush-1 {
        margin-top: 142px;
    }
    .checkInPush-2 {
        margin-top: 197px;
    }
    .checkInPush-3 {
        margin-top: 252px;
    }
    .checkInPush-4 {
        margin-top: 252px;
    }
    .checkInPush-5 {
        margin-top: 287px;
    }
}

@media (min-width: 1160px) {
    .checkInPush-0 {
        margin-top: 74px;
    }
    .checkInPush-1 {
        margin-top: 129px;
    }
    .checkInPush-2 {
        margin-top: 129px;
    }
    .checkInPush-3 {
        margin-top: 184px;
    }
    .checkInPush-4 {
        margin-top: 239px;
    }
    checkInPush-5 {
        margin-top: 272px;
    }
}

@media (max-width:1290px) {
    .no-padding {
        max-width: 140px !important;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border-color: #DDDDDD !important;
        border-radius: 2px !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (min-width:768px) and (max-width:983px) {
    .no-padding {
        max-width: 100px !important;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border-color: #DDDDDD !important;
        border-radius: 2px !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


/*for ipad responsiveness on check in/out screens*/

@media (max-width: 882px) {
    #save-button-check {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .check-button-check {
        width: 85px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
}