<div pageslide ps-open="$ctrl.showEditPanel" ps-class="edit-prop-slide-panel" onclose="$ctrl.closeEditField" ps-body-class="true" ps-click-outside="false" ps-size="420px" ps-container="mainContainer">
    <div class="edit-panel-header">
        <div class="edit-panel-title">
            <span class="edit-panel-icons glyphicon glyphicon-pencil"></span>
            <span class="edit-panel-title-text">
                <span class="">Edit  Properties:</span>
            <span class="edit-panel-field-name">{{$ctrl.editFieldType.name}}</span>
            </span>
            <span class="edit-panel-close pull-right">
                <span class="glyphicon glyphicon-remove-circle" data-ng-click="$ctrl.closeEditPanel()"></span>
            </span>
        </div>
    </div>
    <div class="edit-panel-body">
        <div>
            <div class="row edit-panel-form-title">
                <span class="form-label edit-panel-form-label">Form Object :</span>
                <span class="edit-panel-form-title-text">employeeDetails</span>
            </div>
            <div class="row edit-panel-form-title">
                <span class="form-label edit-panel-form-label">Model Object : </span>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="select-wrap">
                            <select class="form-control" ng-model="$ctrl.editFieldType.modelObject" ng-options="item.fieldName for item in $ctrl.editFieldType.modelSet">
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Safe Components -->
            <div class="edit-form-fields" ng-if="$ctrl.editFieldType.componentType === 'safe-component'">
                <div class="row">
                    <div class="row" ng-repeat="(key, value) in $ctrl.editFieldType.properties">
                        <div class="col-xs-12" ng-if="$ctrl.booleanFields.indexOf(key) > -1 ">
                            <label for="key" class="form-label">{{key}} :</label>
                            <div class="boolean-field">
                                <label><input type="radio" ng-model="$ctrl.editFieldType.properties[key]" value="true">True </label>
                                <label><input type="radio" ng-model="$ctrl.editFieldType.properties[key]" value="false">False</label>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="$ctrl.booleanFields.indexOf(key) < 0">
                            <label for="key" class="form-label">{{key}} :</label>
                            <div class="text-field">
                                <input class="form-control" id="key" type="text" ng-model="$ctrl.editFieldType.properties[key]">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Html Components -->
            <div class="edit-form-fields" ng-if="$ctrl.editFieldType.componentType === 'html-component'">
                <div class="row" ng-if="$ctrl.editFieldType.component === 'input'">
                    <div class="row" ng-repeat="(key, value) in $ctrl.editFieldType.properties">
                        <div class="col-xs-12" ng-if="key === 'required'">
                            <label for="requiredField" class="col-xs-4 form-label">Required</label>
                            <div class="col-xs-6">
                                <input id="requiredField" type="checkbox" ng-model="$ctrl.editFieldType.properties[key]" ng-disabled="">
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="key != 'required'">
                            <label for="key" class="form-label">{{key}}</label>
                            <div class="">
                                <input class="form-control" id="key" type="text" ng-model="$ctrl.editFieldType.properties[key]">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-if="$ctrl.editFieldType.component === 'dropdown'">
                    <div class="row" ng-repeat="(key, value) in $ctrl.editFieldType.properties">
                        <div class="col-xs-12" ng-if="key === 'required'">
                            <label for="requiredField" class="col-xs-4 form-label">Required</label>
                            <div class="col-xs-6">
                                <input id="requiredField" type="checkbox" ng-model="$ctrl.editFieldType.properties[key]" ng-disabled="">
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="key != 'required'">
                            <label for="key" class="form-label">{{key}}</label>
                            <div class="">
                                <input class="form-control" id="key" type="text" ng-model="$ctrl.editFieldType.properties[key]">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" ng-if="$ctrl.editFieldType.component === 'checkbox'">
                    <div class="row" ng-repeat="(key, value) in $ctrl.editFieldType.properties">
                        <div class="col-xs-12" ng-if="key === 'disabled'">
                            <label for="requiredField" class="col-xs-4 form-label">Disabled</label>
                            <div class="col-xs-6">
                                <input id="requiredField" type="checkbox" ng-model="$ctrl.editFieldType.properties[key]" ng-disabled="">
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="key === 'checked'">
                            <label for="requiredField" class="col-xs-4 form-label">Checked</label>
                            <div class="col-xs-6">
                                <input id="requiredField" type="checkbox" ng-model="$ctrl.editFieldType.properties[key]" ng-disabled="">
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="key != 'disabled' && key != 'checked'">

                            <label for="key" class="form-label">{{key}}</label>
                            <div class="">
                                <input class="form-control" id="key" type="text" ng-model="$ctrl.editFieldType.properties[key]">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="$ctrl.editFieldType.component === 'radio'">
                    <div class="row" ng-repeat="(key, value) in $ctrl.editFieldType.properties">
                        <div class="col-xs-12" ng-if="key === 'disabled'">
                            <label for="requiredField" class="col-xs-4 form-label">Disabled</label>
                            <div class="col-xs-6">
                                <input id="requiredField" type="checkbox" ng-model="$ctrl.editFieldType.properties[key]" ng-disabled="">
                            </div>
                        </div>
                        <div class="col-xs-12" ng-if="key != 'disabled'">
                            <label for="key" class="form-label">{{key}}</label>
                            <div class="">
                                <input class="form-control" id="key" type="text" ng-model="$ctrl.editFieldType.properties[key]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-panel-footer">
        <div class="edit-panel-footer-actions pull-right">
            <button type="button" class="btn btn-cancel" data-ng-click="$ctrl.closeEditPanel()">Cancel</button>
            <button type="button" class="btn btn-default" data-ng-click="$ctrl.updateField()">Save</button>
        </div>
    </div>

</div>