<safe-Form in-Debug="true" in-Check-Ids="false">

    <safe-Text in-Style="{'fontWeight':'bold'}">Here are the currently installed library components:</safe-Text>

    <safe-Quick-Table in-Put="$ctrl.library">
        <safe-Table-Column name="ngName" display-Text="Angular Name"></safe-Table-Column>
        <safe-Table-Column name="tagName" display-Text="Markup Tag"></safe-Table-Column>
        <safe-Table-Column name="tsName" display-Text="TS Class">
            <a href="docs/classes/safe.product.library.{{cellValue}}.html" target="_self">{{cellValue}}</a>
        </safe-Table-Column>
        <safe-Table-Column name="numBindings" display-Text="Binding Count"></safe-Table-Column>
    </safe-Quick-Table>

</safe-Form>