<h1>Welcome to the Jungle!</h1>

<h2>Do you know where you are?</h2>

<safe-Form in-Debug="true" in-Check-Ids="false">
<!-- <safe-Fetch in-Put="'https://jsonplaceholder.typicode.com/users'" io-Value="$ctrl.data"><</safe-Fetch> -->

<hr class="line"/>

<safe-Text>Here's a control to enjoy:</safe-Text>

<safe-Quick-Table in-Put="$ctrl.data">
    <safe-Table-Column name="name" display-Text="Name"></safe-Table-Column>
    <safe-Table-Column name="username" display-Text="User Name"></safe-Table-Column>
    <safe-Table-Column name="email" display-Text="EMail"></safe-Table-Column>
    <safe-Data-Pager in-Put="$ctrl.url" io-Value="$ctrl.data" in-Per-Page="4"></safe-Data-Pager>
</safe-Quick-Table>

</safe-Form>
