<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
<div class="inside">
    <div class="row">
        <div class="col-sm-10 col-xs-12  myprofile-right-tab">

            <div class="element-body">

                <div class="row element-details my-visitor-details">
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="wrap">
                                    <div class="inside">
                                        <div class="col-sm-6 col-xs-12">
                                            <h3 class="icon-circle-info" style="padding-left: -1px">Visitor Information</h3>
                                            <div class="form-group">
                                                <!--  <label for="firstname" class="form-label">First Name</label>-->

                                                <safe-input id="firstname" name="firstname" class-name="form-control" display-Text="FIRST NAME"></safe-input>

                                            </div>
                                            <div class="form-group">
                                                <safe-input id="lastname" name="lastname" class-name="form-control" display-Text="LAST NAME"></safe-input>

                                            </div>
                                            <div class="form-group">

                                                <safe-input id="company" name="company" display-Text="COMPANY"></safe-input>

                                            </div>

                                            <div class="form-group">
                                                <safe-Radio-Buttons id="buttons" in-Style="{'padding-left': '15px'}" in-Put="$ctrl.data" io-Value="$ctrl.choice" class-name="form-control" display-Text="Visitor Type" position="Left">
                                                    <safe-Radio-Buttton in-Put="null" io-Value="$ctrl.choice" class-name="form-control"></safe-Radio-Buttton>
                                                </safe-Radio-Buttons>
                                                <br/> Your selection:
                                                <safe-Text id="text">{{$ctrl.choice}}</safe-Text>
                                            </div>
                                            <div class="form-group">

                                                <safe-input id="email" name="email" class-name="form-control" display-Text="Email" position="Top"></safe-input>
                                                <!--  <label for="email" class="form-label" translate="selfservice.visitors.email"></label>
                                                        <input type="text" id="email" name="email" class="form-control" ng-model="rctrl.visitorDetails.Email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" requireiftrue="VMS,IS_EMAIL_MANDATORY">
                                                        <p ng-show="visitorDetailsForm.email.$error.required && visitorDetailsForm.email.$dirty" class="error" translate="selfservice.visitors.emailreqd"></p>
                                                        <p ng-show="visitorDetailsForm.email.$error.pattern" class="error" translate="selfservice.visitors.invalidemail"></p>-->
                                            </div>
                                            <div class="form-group">

                                                <safe-checkbox id="privatevisitor" name="privatevisitor" in-Style="{'margin-left': '15px'}" input-Type="checkbox" display-Text="IS Private Visitor"></safe-checkbox>

                                                <!--  <label for="privatevisitor" class="form-label">Is Private Visitor</label>
                                                        &nbsp;
                                                        <input type="checkbox" id="privatevisitor" name="privatevisitor" class="form-horizontal account-checkbox" ng-disabled="currentUser.SafeUser.Id != rctrl.visitorDetails.OwnerId" ng-model="rctrl.visitorDetails.IsPrivate" />
                                                        <label for="privatevisitor" class="account-checkbox-label" ng-class="{disabled:currentUser.SafeUser.Id != rctrl.visitorDetails.OwnerId}"></label>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>