<safe-Form id="sandbox.View" in-Debug="true" in-Check-Ids="false">

<h1>Here's the sandbox</h1>

<safe-Input io-Value="$ctrl.name" display-Text="Hello"></safe-Input>

<!--
<safe-Radio-Buttons id="buttons" in-Style="{'display':'block'}" in-Put="$ctrl.data" io-Value="$ctrl.choice">
    <safe-Radio-Buttton in-Style="{'display':'block'}" in-Put="null" io-Value="$ctrl.choice" display-Text="None"></safe-Radio-Buttton>
</safe-Radio-Buttons>
<br/>
Your selection: <safe-Text id="text">{{$ctrl.choice}}</safe-Text>

</safe-Form>
-->